header.main-header
    .container
        .main-header__wrapper
            //- logo
            a.logo
                img(src="images/logo.png" alt="")
            //- navigation
            nav.main-nav
                ul
                    li
                        a(href="") ПРОДУКЦИЯ
                    li
                        a(href="") УСЛУГИ
                    li
                        a(href="") ДОКУМЕНТЫ
                    li
                        a(href="") НОВОСТИ КОМПАНИИ
                    li
                        a(href="") КОНТАКТЫ
            a.main-header__phone(href="phone='+74712740440'") 
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.4637 14.8216L16.3095 11.6522C15.5936 10.9286 14.4316 10.9272 13.714 11.6491L13.7109 11.6522L11.9037 13.4745C11.767 13.6128 11.5515 13.6319 11.393 13.5198C10.4039 12.8228 9.47792 12.0387 8.62605 11.1768C7.8631 10.4092 7.16125 9.58225 6.52695 8.70354C6.41198 8.54569 6.42869 8.32683 6.56622 8.18854L8.41834 6.32089C9.13341 5.59843 9.13341 4.42863 8.41834 3.70618L5.26414 0.525526C4.5373 -0.175175 3.39241 -0.175175 2.66557 0.525526L1.66657 1.5329C0.157832 3.03718 -0.380772 5.2708 0.274642 7.30565C0.763719 8.7944 1.45504 10.2076 2.32882 11.505C3.11545 12.6945 4.0179 13.8017 5.02282 14.8102C6.11535 15.9198 7.32555 16.9048 8.63164 17.7475C10.0674 18.6923 11.6439 19.3992 13.3012 19.8415C13.7273 19.9475 14.1645 20.0007 14.6033 20C16.1076 19.9907 17.5467 19.3801 18.605 18.3021L19.4638 17.4362C20.1788 16.7138 20.1788 15.544 19.4637 14.8216Z" fill="#006AAE"/></svg>
                span +7 (4712) 74-04-40
            .button.button1
                button СВЯЗАТЬСЯ С НАМИ
            //- social
            ul.social-list
                li
                    a(href="")
                        <svg width="25" height="15" viewBox="0 0 25 15" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.0882 12.0501C23.34 11.1103 22.4596 10.3082 21.6265 9.45648C20.8749 8.68875 20.8275 8.24339 21.4317 7.3573C22.0911 6.39021 22.8002 5.46021 23.4656 4.49748C24.0867 3.59775 24.7216 2.70048 25.0484 1.62321C25.2557 0.937843 25.0723 0.635116 24.4012 0.515116C24.2856 0.494116 24.1661 0.493025 24.0484 0.493025L20.0669 0.488116C19.5765 0.480479 19.3054 0.704389 19.132 1.15957C18.8979 1.77484 18.6565 2.38957 18.3775 2.9833C17.7447 4.32948 17.038 5.63066 16.0471 6.73248C15.8286 6.97548 15.5869 7.28257 15.2218 7.15603C14.765 6.98148 14.6304 6.1933 14.638 5.92684L14.6341 1.11402C14.5455 0.42648 14.3999 0.119934 13.7481 -0.0137024L9.61218 -0.0128841C9.0601 -0.0128841 8.78327 0.210479 8.48848 0.572115C8.31843 0.781025 8.26713 0.91657 8.61661 0.985843C9.30307 1.12221 9.68979 1.58748 9.79239 2.3083C9.95697 3.46003 9.94551 4.61639 9.85072 5.77275C9.82286 6.11039 9.76739 6.44721 9.63952 6.76248C9.43952 7.25803 9.11661 7.35893 8.69239 7.05403C8.30828 6.77803 8.03848 6.38857 7.77442 5.99748C6.78249 4.52966 5.99109 2.94675 5.34578 1.28339C5.15932 0.802843 4.8377 0.51157 4.3515 0.503661C3.15697 0.483752 1.96218 0.480479 0.767651 0.504752C0.0489006 0.518934 -0.165422 0.884389 0.127286 1.56675C1.42833 4.59757 2.8765 7.54412 4.76687 10.2283C5.73744 11.6058 6.85177 12.8219 8.29135 13.6838C9.92286 14.6607 11.6791 14.9547 13.5288 14.8641C14.395 14.8216 14.6551 14.5857 14.6953 13.6816C14.7223 13.063 14.7893 12.448 15.0807 11.8922C15.3666 11.3468 15.7997 11.2428 16.2989 11.5821C16.5486 11.752 16.7591 11.9683 16.9578 12.1963C17.4453 12.7548 17.9153 13.3303 18.4213 13.87C19.0559 14.5464 19.8078 14.9459 20.7531 14.8644L24.4124 14.8652C25.002 14.8248 25.3078 14.0678 24.9692 13.3786C24.7315 12.8958 24.4195 12.466 24.0882 12.0501Z" fill="#006AAE"/></svg>
                li
                    a(href="")
                        <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.17451 3.32083H10.0003V0.140833C9.68534 0.0975 8.60201 0 7.34035 0C4.70785 0 2.90451 1.65583 2.90451 4.69917V7.5H-0.000488281V11.055H2.90451V20H6.46618V11.0558H9.25368L9.69618 7.50083H6.46535V5.05167C6.46618 4.02417 6.74285 3.32083 8.17451 3.32083Z" fill="#006AAE"/></svg>
                li
                    a(href="")
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.5862 0H5.41381C2.42858 0 0 2.42858 0 5.41381V14.5863C0 17.5714 2.42858 20 5.41381 20H14.5863C17.5714 20 20 17.5714 20 14.5863V5.41381C20 2.42858 17.5714 0 14.5862 0V0ZM9.99998 15.4686C6.98454 15.4686 4.53139 13.0154 4.53139 9.99998C4.53139 6.98454 6.98454 4.53139 9.99998 4.53139C13.0154 4.53139 15.4686 6.98454 15.4686 9.99998C15.4686 13.0154 13.0154 15.4686 9.99998 15.4686ZM15.5993 5.82106C14.7082 5.82106 13.9834 5.09627 13.9834 4.20516C13.9834 3.31405 14.7082 2.58911 15.5993 2.58911C16.4904 2.58911 17.2154 3.31405 17.2154 4.20516C17.2154 5.09627 16.4904 5.82106 15.5993 5.82106Z" fill="#006AAE"/><path d="M9.99996 5.70386C7.63119 5.70386 5.70386 7.63104 5.70386 9.99996C5.70386 12.3687 7.63119 14.2961 9.99996 14.2961C12.3689 14.2961 14.2961 12.3687 14.2961 9.99996C14.2961 7.63104 12.3689 5.70386 9.99996 5.70386Z" fill="#006AAE"/><path d="M15.5994 3.76175C15.355 3.76175 15.156 3.96072 15.156 4.20517C15.156 4.44961 15.355 4.64859 15.5994 4.64859C15.844 4.64859 16.043 4.44977 16.043 4.20517C16.043 3.96057 15.844 3.76175 15.5994 3.76175Z" fill="#006AAE"/></svg>
            //- language
            .change-language
                .button.button1
                    button RUS
                .button
                    button ENG