.btn1 {
    background: linear-gradient(45deg, transparent 0%, transparent calc(100% - 10px), $color-blue calc(100% - 10px));
    background-origin: border-box;
    padding: 0 25px;
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 400;
    border-width: 2px;
    border-color: $color-blue;
    border-style: solid;
    border-bottom-color: transparent;
    border-left-color: transparent;
    position: relative;
    color: $color-text;
    text-decoration: none;
    text-transform: uppercase;
    &::after,
    &::before {
        content: " ";
        background-color: $color-blue;
        display: inline-block;
        position: absolute;
    }
    &::before {
        left: -2px;
        top: -2px;
        width: 2px;
        height: 80%;
    }
    &::after {
        bottom: -2px;
        right: -2px;
        width: 80%;
        height: 2px;
    }
    &:hover {
        background: linear-gradient(
            45deg,
            $color-blue 0px,
            $color-blue 10px,
            transparent 0%,
            transparent calc(100% - 10px),
            $color-blue calc(100% - 10px)
        );
        background-origin: border-box;
        &::after {
            width: 100%;
            transition: 0.3s;
        }
        &::before {
            height: 100%;
            transition: 0.3s;
        }
    }
    @media (max-width: 1365px) {
        height: 40px;
        line-height: 40px;
        font-size: 14px;
    }
}

.btn1--more {
    display: none;
    @media (max-width: 1023px) {
        display: block;
        align-self: center;
    }
    @media (max-width: 767px) {
        font-size: 0;
        background: none;
        border-color: $color-blue;
        background-image: url("../images/arrow-down.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 40px;
        padding: 0;
        &::before,
        &::after {
            display: none;
        }
    }
}

.btn1--news {
    align-self: flex-start;
    margin-top: auto;
    @media (max-width: 1365px) {
        display: none;
    }
}
