.logo {
    max-width: 163px;
    width: 100%;
    margin-right: 126px;
    flex: 1 0 auto;
    position: relative;
    z-index: 10;
    @media (max-width: 1919px) {
        max-width: 76px;
        margin-right: 25px;
    }
    @media (max-width: 1365px) {
        max-width: 71px;
    }
    @media(max-width: 767px) {
        max-width: 57px;
    }
}
