.main-catalog-content-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .item {
        width: calc(100% / 4 - 7px);
        // height: 314px;
        margin-bottom: 14px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        border: 1px solid $color-light-grey;
        padding-bottom: 40px;
        position: relative;
        overflow: hidden;
        picture {
            width: 236px;
            height: 209px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                object-fit: contain;
            }
            @media(max-width: 1025px) {
                width: 161px;
            }
        }
        .item__title {
            font-size: 16px;
            font-weight: 400;
            font-family: $font-title;
            text-transform: uppercase;
            margin-bottom: 10px;
            @media (max-width: 1365px) {
                font-size: 14px;
            }
        }
        .item__subtitle {
            font-size: 14px;
            font-weight: 400;
            font-family: $font-title;
            color: $color-grey;
            @media (max-width: 1365px) {
                font-size: 14px;
            }
        }
        .item__glass {
            width: 30px;
            height: 30px;
            position: absolute;
            right: 15px;
            top: 15px;
            background-image: url("../images/glass.png");
            background-size: cover;
            @media (max-width: 1365px) {
                width: 20px;
                height: 20px;
            }
        }
        @media (max-width: 1365px) {
            width: calc(100% / 2 - 9px);
            // height: 243px;
            padding-bottom: 30px;
        }
        @media (max-width: 1023px) {
            width: calc(100% / 3 - 7px);
        }
        @media(max-width: 767px) {
            width: 100%;
        }
    }
}
