.main-nav {
    ul {
        display: flex;
        li {
            margin-right: 25px;
            &:last-child {
                margin-right: 0;
            }
            @media (max-width: 1367px) {
                margin-right: 15px;
            }
            @media (max-width: 1025px) {
                margin-right: 22px;
            }
        }
        a {
            font-family: $font-title;
            color: $color-text;
            text-decoration: none;
            text-transform: uppercase;
            padding: 10px 0;
            &:hover {
                border-bottom: 2px solid $color-red;
            }
            @media (max-width: 1025px) {
                font-size: 14px;
            }
        }
    }
    @media (max-width: 1025px) {
        display: none;
    }
}
