.main-header {
    position: relative;
}

.main-header__wrapper {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 15px;
    justify-content: space-between;
    .btn1 {
        padding: 0 43px;
        @media (max-width: 1919px) {
            padding: 0 30px;
        }
        @media (max-width: 1365px) {
            display: none;
        }
    }

    .social-list {
        @media (max-width: 1365px) {
            display: none;
        }
    }

    @media (max-width: 1919px) {
        padding-top: 27px;
        padding-bottom: 22px;
    }
    @media (max-width: 1365px) {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    @media (max-width: 1023px) {
        padding-bottom: 15px;
    }
    @media (max-width: 767px) {
        padding-top: 17px;
        padding-bottom: 17px;
    }
}

.main-header__phone {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
    justify-content: center;
    text-decoration: none;
    color: $color-text;
    svg {
        margin-right: 10px;
    }
    @media (max-width: 1365px) {
        display: none;
    }
}
