doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .content
            include modules/header.pug

            main
                include modules/modal.pug
                //- main-catalog
                .container
                    section.main-catalog
                        //- main-catalog-filter
                        .main-catalog-filter
                            h2.inner-title Продукция
                            h3.main-catalog-filter__title-planshet(hidden)
                                .picture
                                    <svg width="34" height="20" viewBox="0 0 34 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 16H4V20H0V16Z" fill="#C1001F"/><path d="M0 8H4V12H0V8Z" fill="#C1001F"/><path d="M0 0H4V4H0V0Z" fill="#C1001F"/><path d="M8 16H34V20H8V16Z" fill="#C1001F"/><path d="M8 8H34V12H8V8Z" fill="#C1001F"/><path d="M8 0H34V4H8V0Z" fill="#C1001F"/></svg>
                                span КАТЕГОРИИ ПРОДУКЦИИ
                            ul.main-catalog-filter__main-list
                                .main-catalog-filter__cross(hidden)
                                    <svg width="100%" height="100%" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.9799 0L22.7894 20.8095L20.8095 22.7894L0 1.9799L1.9799 0Z" fill="#C1001F"/><path d="M20.81 0L0.000485477 20.8095L1.98038 22.7894L22.7899 1.9799L20.81 0Z" fill="#C1001F"/></svg>
                                .wrapper
                                    li.item.toggle
                                        .item__content
                                            .picture
                                                <svg width="38" height="30" viewBox="0 0 38 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M36.7081 14.2481H31.7088L30.952 1.18655C30.9126 0.506968 30.3461 -0.0254211 29.6623 -0.0254211H11.377C10.6931 -0.0254211 10.1266 0.506968 10.0873 1.18662L9.7893 6.3297H3.31364C2.60129 6.3297 2.02179 6.90672 2.02179 7.61586V8.36859H1.29185C0.5795 8.36859 0 8.94546 0 9.65467V10.8043C0 11.461 0.497191 12.0034 1.13636 12.0802L1.5007 18.914C1.51644 19.2096 1.76218 19.4388 2.05608 19.4388C2.06603 19.4388 2.07605 19.4386 2.08607 19.438C2.39304 19.4217 2.62875 19.1608 2.61243 18.8552L2.44439 15.704C4.78273 16.646 6.32002 18.8908 6.32002 21.4424C6.32002 23.7386 5.0488 25.8274 3.04134 26.9005L2.75307 21.4938C2.73674 21.1882 2.4752 20.9526 2.16771 20.9698C1.86074 20.986 1.62502 21.2469 1.64135 21.5526L2.0281 28.8067C2.06454 29.4897 2.63113 30.0247 3.3181 30.0247H35.2777C35.9647 30.0247 36.5314 29.4897 36.5677 28.8067L37.1277 18.3029C37.6345 18.1289 38 17.6506 38 17.0878V15.5343C38 14.8251 37.4204 14.2481 36.7081 14.2481ZM36.7081 15.3565C36.8066 15.3565 36.8867 15.4362 36.8867 15.5342V17.0877C36.8867 17.1858 36.8066 17.2655 36.7081 17.2655H31.8836L31.773 15.3564H36.7081V15.3565ZM3.13507 7.61586C3.13507 7.5178 3.21516 7.43808 3.31364 7.43808H11.1514C11.2499 7.43808 11.3299 7.5178 11.3299 7.61586V8.36859H3.13507V7.61586ZM1.11328 9.65467C1.11328 9.55669 1.19336 9.47696 1.29185 9.47696H13.1732C13.2716 9.47696 13.3517 9.55669 13.3517 9.65467V10.8043C13.3517 10.9023 13.2716 10.9821 13.1732 10.9821H1.29185C1.19336 10.9821 1.11328 10.9023 1.11328 10.8043V9.65467ZM12.8291 21.4498H23.0988C23.1972 21.4498 23.2773 21.5295 23.2773 21.6275V25.4439C23.2773 25.542 23.1972 25.6217 23.0988 25.6217H12.6066L12.8291 21.4498ZM13.1969 14.5503H18.8052C18.9037 14.5503 18.9837 14.63 18.9837 14.7281V17.8389C18.9837 17.937 18.9036 18.0167 18.8052 18.0167H13.0121L13.1969 14.5503ZM3.13982 28.748L3.10546 28.1034C5.73763 26.9245 7.4333 24.3218 7.4333 21.4424C7.4333 19.8543 6.9298 18.3442 5.97713 17.0753C5.07686 15.8761 3.8023 14.9664 2.38034 14.5026L2.25172 12.0904H12.2132L11.3251 28.748C11.3201 28.8423 11.2417 28.9163 11.1468 28.9163H3.31817C3.22325 28.9163 3.14487 28.8423 3.13982 28.748ZM35.2778 28.9163H32.533C32.5448 28.8333 32.5489 28.7491 32.544 28.6645L32.1742 22.2818C32.1565 21.9762 31.8922 21.7422 31.5865 21.7604C31.2795 21.778 31.0451 22.04 31.0628 22.3456L31.4325 28.7283C31.4364 28.7949 31.4038 28.8397 31.3841 28.8606C31.3644 28.8813 31.3213 28.9163 31.2543 28.9163H12.4256C12.4306 28.8802 12.4348 28.8437 12.4368 28.8067L12.5475 26.7301H23.0987C23.8111 26.7301 24.3905 26.1531 24.3905 25.444V21.6276C24.3905 20.9183 23.811 20.3415 23.0987 20.3415H12.8882L12.953 19.1251H18.8053C19.5176 19.1251 20.0971 18.5481 20.0971 17.839V14.7281C20.0971 14.0189 19.5175 13.442 18.8053 13.442H13.2561L13.3286 12.0802C13.9678 12.0035 14.465 11.461 14.465 10.8043V9.65467C14.465 8.94546 13.8855 8.36859 13.1732 8.36859H12.4432V7.61586C12.4432 6.90665 11.8637 6.3297 11.1514 6.3297H10.9044L11.1949 1.31741L12.3998 4.85142C12.5777 5.37339 13.0693 5.72423 13.6231 5.72423H16.5483C16.8557 5.72423 17.105 5.47618 17.105 5.17004C17.105 4.86391 16.8557 4.61586 16.5483 4.61586H13.6231C13.5466 4.61586 13.4786 4.56739 13.454 4.49519L12.2906 1.08295H28.7487L27.5853 4.49512C27.5607 4.56731 27.4928 4.61578 27.4163 4.61578H19.2148C18.9074 4.61578 18.6581 4.86384 18.6581 5.16997C18.6581 5.4761 18.9074 5.72416 19.2148 5.72416H27.4163C27.97 5.72416 28.4616 5.37347 28.6395 4.85142L29.8445 1.31712L30.91 19.7076C30.927 20.0023 31.1725 20.2299 31.4652 20.2299C31.476 20.2299 31.4869 20.2296 31.4977 20.2289C31.8047 20.2113 32.039 19.9493 32.0214 19.6438L31.9478 18.3739H36.0092L35.4562 28.7479C35.451 28.8423 35.3728 28.9163 35.2778 28.9163Z" fill="#C1001F"/><path d="M29.0166 25.6221H27.9609C27.6534 25.6221 27.4043 25.8701 27.4043 26.1762C27.4043 26.4824 27.6534 26.7304 27.9609 26.7304H29.0166C29.3241 26.7304 29.5733 26.4824 29.5733 26.1762C29.5733 25.8701 29.3241 25.6221 29.0166 25.6221Z" fill="#C1001F"/><path d="M9.54101 14.541H10.5967C10.9041 14.541 11.1533 14.293 11.1533 13.9868C11.1533 13.6807 10.9041 13.4326 10.5967 13.4326H9.54101C9.2336 13.4326 8.98438 13.6807 8.98438 13.9868C8.98438 14.293 9.2336 14.541 9.54101 14.541Z" fill="#C1001F"/><path d="M10.5967 15.3937H7.23242C6.92501 15.3937 6.67578 15.6418 6.67578 15.9479C6.67578 16.254 6.92501 16.5021 7.23242 16.5021H10.5967C10.9041 16.5021 11.1533 16.254 11.1533 15.9479C11.1533 15.6418 10.9041 15.3937 10.5967 15.3937Z" fill="#C1001F"/></g><defs><clipPath id="clip0"><rect width="38" height="30" fill="white"/></clipPath></defs></svg>
                                            h3.item__title ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                            span.arrow
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>
                                    ul.main-catalog-filter__sublist
                                        li.item__sublist.toggle
                                            h4.item__subtitle УПАКОВКА ИЗ КАРТОНА ХРОМ-ЭРЗАЦ
                                            span.arrow-sublist
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>
                                        ul.main-catalog-filter__subsublist
                                            li.item__subsublist
                                                span упаковка для товаров народного потребления
                                            li.item__subsublist
                                                span упаковка для постельного белья
                                            li.item__subsublist
                                                span упаковка для вина
                                            li.item__subsublist
                                                span упаковка для кондитерских изделий
                                            li.item__subsublist
                                                span упаковка для замароженных полуфабрикатов
                                            li.item__subsublist
                                                span упаковка для детского творчества

                                        li.item__sublist.toggle
                                            h4.item__subtitle НОВОГОДНЯЯ ПОДАРОЧНАЯ УПАКОВКА
                                            span.arrow-sublist
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>
                                        ul.main-catalog-filter__subsublist
                                            li.item__subsublist
                                                span упаковка для товаров народного потребления
                                            li.item__subsublist
                                                span упаковка для постельного белья
                                            li.item__subsublist
                                                span упаковка для вина
                                            li.item__subsublist
                                                span упаковка для кондитерских изделий
                                            li.item__subsublist
                                                span упаковка для замароженных полуфабрикатов
                                            li.item__subsublist
                                                span упаковка для детского творчества
                                        
                                        li.item__sublist.toggle
                                            h4.item__subtitle УПАКОВКА ИЗ МИКРОГОФРОКАРТОНА
                                            span.arrow-sublist
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>
                                        ul.main-catalog-filter__subsublist
                                            li.item__subsublist
                                                span упаковка для товаров народного потребления
                                            li.item__subsublist
                                                span упаковка для постельного белья
                                            li.item__subsublist
                                                span упаковка для вина
                                            li.item__subsublist
                                                span упаковка для кондитерских изделий
                                            li.item__subsublist
                                                span упаковка для замароженных полуфабрикатов
                                            li.item__subsublist
                                                span упаковка для детского творчества


                                    li.item.toggle
                                        .item__content
                                            .picture
                                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M5.4949 25.3329H2.73988C2.4574 25.3329 2.22852 25.5297 2.22852 25.7724C2.22852 26.0151 2.4574 26.2118 2.73988 26.2118H5.49483C5.77731 26.2118 6.0062 26.0151 6.0062 25.7724C6.0062 25.5297 5.77731 25.3329 5.4949 25.3329Z" fill="#C1001F"/><path d="M5.4949 27.227H2.73988C2.4574 27.227 2.22852 27.4237 2.22852 27.6664C2.22852 27.9091 2.4574 28.1059 2.73988 28.1059H5.49483C5.77731 28.1059 6.0062 27.9091 6.0062 27.6664C6.0062 27.4237 5.77731 27.227 5.4949 27.227Z" fill="#C1001F"/><path d="M20.3723 27.227H17.6173C17.3348 27.227 17.106 27.4237 17.106 27.6664C17.106 27.9091 17.3348 28.1059 17.6173 28.1059H20.3723C20.6548 28.1059 20.8837 27.9091 20.8837 27.6664C20.8837 27.4237 20.6548 27.227 20.3723 27.227Z" fill="#C1001F"/><path d="M17.6173 26.2118H20.3723C20.6548 26.2118 20.8837 26.0151 20.8837 25.7724C20.8837 25.5297 20.6548 25.3329 20.3723 25.3329H17.6173C17.3348 25.3329 17.106 25.5297 17.106 25.7724C17.106 26.0151 17.3348 26.2118 17.6173 26.2118Z" fill="#C1001F"/><path d="M18.444 2.4859H4.66908C4.3866 2.4859 4.15771 2.68266 4.15771 2.92535V4.8194C4.15771 5.06209 4.3866 5.25885 4.66908 5.25885H18.444C18.7265 5.25885 18.9554 5.06209 18.9554 4.8194V2.92535C18.9554 2.68266 18.7264 2.4859 18.444 2.4859ZM17.9326 4.37994H5.18044V3.36481H17.9326V4.37994Z" fill="#C1001F"/><path d="M29.4646 6.63392C29.747 6.63392 29.9759 6.43717 29.9759 6.19447V0.439392C29.9759 0.196697 29.747 -6.10352e-05 29.4646 -6.10352e-05H0.537731C0.255254 -6.10352e-05 0.0263672 0.196697 0.0263672 0.439392V8.68939C0.0263672 8.93209 0.255254 9.12885 0.537731 9.12885C0.820208 9.12885 1.04909 8.93209 1.04909 8.68939V7.7448H22.0661V19.4361C22.0661 19.6788 22.295 19.8755 22.5775 19.8755C22.86 19.8755 23.0889 19.6788 23.0889 19.4361V1.50047L25.5097 3.5809V26.419L23.0889 28.4994V21.4927C23.0889 21.25 22.86 21.0533 22.5775 21.0533C22.295 21.0533 22.0661 21.25 22.0661 21.4927V22.2551H1.04909V10.746C1.04909 10.5033 0.820208 10.3066 0.537731 10.3066C0.255254 10.3066 0.0263672 10.5033 0.0263672 10.746V29.5605C0.0263672 29.8032 0.255254 29.9999 0.537731 29.9999H29.4646C29.747 29.9999 29.9759 29.8032 29.9759 29.5605V8.25111C29.9759 8.00842 29.747 7.81166 29.4646 7.81166C29.1821 7.81166 28.9532 8.00842 28.9532 8.25111V28.4993L26.5325 26.419V3.5809L28.9532 1.50058V6.19447C28.9532 6.43717 29.1821 6.63392 29.4646 6.63392ZM26.0211 27.2225L28.2303 29.121H23.8119L26.0211 27.2225ZM26.0211 2.7774L23.8119 0.878845H28.2303L26.0211 2.7774ZM1.04909 6.8659V0.878845H22.0661V6.8659H1.04909ZM1.04909 23.134H22.0661V29.121H1.04909V23.134Z" fill="#C1001F"/><path d="M5.70393 20.0458C5.80382 20.1316 5.93466 20.1745 6.06557 20.1745C6.19641 20.1745 6.32732 20.1316 6.42721 20.0458L9.15169 17.7044C9.40669 18.5008 10.3128 19.0914 11.3884 19.0914C12.9369 19.0914 14.6544 17.7223 14.8451 17.5662C14.9465 17.4832 15.0038 17.3682 15.0038 17.2479C15.0038 17.1277 14.9465 17.0126 14.8451 16.9297C14.8163 16.9061 14.7519 16.8544 14.659 16.7841C15.9949 16.4915 17.275 15.4713 17.4382 15.3378C17.5395 15.2548 17.5968 15.1399 17.5968 15.0196C17.5968 14.8993 17.5395 14.7843 17.4382 14.7013C17.3318 14.6143 16.7509 14.1505 15.9895 13.7569C16.1206 13.6813 16.2456 13.5936 16.3619 13.4937C17.4568 12.5527 17.5448 10.541 17.5512 10.3147C17.5546 10.1944 17.5005 10.0782 17.4016 9.99322C17.3027 9.9082 17.1666 9.86139 17.0276 9.86467C16.7643 9.87017 14.4233 9.94576 13.3283 10.8867C13.2119 10.9867 13.11 11.0942 13.0222 11.2069C12.5641 10.5525 12.0243 10.0532 11.9231 9.96182C11.8266 9.87475 11.6928 9.82541 11.5528 9.82541C11.4128 9.82541 11.279 9.87469 11.1825 9.96182C11.027 10.102 9.83984 11.2021 9.49941 12.3502C9.41766 12.2703 9.35739 12.215 9.32991 12.1902C9.23344 12.1031 9.09959 12.0538 8.95962 12.0538C8.81964 12.0538 8.6858 12.1031 8.58932 12.1902C8.40762 12.3541 6.81455 13.8301 6.81455 15.1608C6.81455 16.0852 7.50175 16.8638 8.42841 17.0829L5.70387 19.4243C5.5043 19.5959 5.5043 19.8742 5.70393 20.0458ZM11.3884 18.2125C10.6794 18.2125 10.1027 17.7798 10.1027 17.2479C10.1027 16.7161 10.6794 16.2834 11.3884 16.2834C12.1333 16.2834 13.1031 16.8325 13.7096 17.2479C13.1032 17.6634 12.1333 18.2125 11.3884 18.2125ZM13.9815 15.984C13.2726 15.984 12.6958 15.5514 12.6958 15.0195C12.6958 14.4877 13.2726 14.055 13.9815 14.055C14.7264 14.055 15.6963 14.604 16.3027 15.0195C15.6963 15.435 14.7264 15.984 13.9815 15.984ZM14.0516 11.5081C14.5783 11.0554 15.7158 10.8543 16.4865 10.7797C16.3995 11.442 16.1655 12.4195 15.6387 12.8722C15.1374 13.3029 14.3735 13.3475 13.936 12.9714C13.4984 12.5954 13.5502 11.9389 14.0516 11.5081ZM11.5528 10.9376C12.0363 11.4588 12.6751 12.2921 12.6751 12.9323C12.6751 13.5416 12.1716 14.0372 11.5528 14.0372C10.934 14.0372 10.4304 13.5416 10.4304 12.9323C10.4305 12.2921 11.0694 11.4587 11.5528 10.9376ZM7.83734 15.1608C7.83734 14.5206 8.47621 13.6872 8.95968 13.1661C9.44316 13.6872 10.082 14.5206 10.082 15.1608C10.082 15.77 9.5785 16.2657 8.95968 16.2657C8.34087 16.2657 7.83734 15.77 7.83734 15.1608Z" fill="#C1001F"/></g><defs><clipPath id="clip0"><rect width="30" height="30" fill="white"/></clipPath></defs></svg>
                                            h3.item__title БУМАЖНАЯ УПАКОВКА
                                            span.arrow
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>
                                    ul.main-catalog-filter__sublist
                                        li.item__sublist.toggle
                                            h4.item__subtitle УПАКОВКА ИЗ КАРТОНА ХРОМ-ЭРЗАЦ
                                            span.arrow-sublist
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>
                                        ul.main-catalog-filter__subsublist
                                            li.item__subsublist
                                                span упаковка для товаров народного потребления
                                            li.item__subsublist
                                                span упаковка для постельного белья
                                            li.item__subsublist
                                                span упаковка для вина
                                            li.item__subsublist
                                                span упаковка для кондитерских изделий
                                            li.item__subsublist
                                                span упаковка для замароженных полуфабрикатов
                                            li.item__subsublist
                                                span упаковка для детского творчества

                                    ul.main-catalog-filter__sublist
                                        li.item__sublist.toggle
                                            h4.item__subtitle УПАКОВКА ИЗ КАРТОНА ХРОМ-ЭРЗАЦ
                                            span.arrow-sublist
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>
                                        ul.main-catalog-filter__subsublist
                                            li.item__subsublist
                                                span упаковка для товаров народного потребления
                                            li.item__subsublist
                                                span упаковка для постельного белья
                                            li.item__subsublist
                                                span упаковка для вина
                                            li.item__subsublist
                                                span упаковка для кондитерских изделий
                                            li.item__subsublist
                                                span упаковка для замароженных полуфабрикатов
                                            li.item__subsublist
                                                span упаковка для детского творчества

                                        
                                        li.item__sublist
                                            h4.item__subtitle.toggle УПАКОВКА ИЗ МИКРОГОФРОКАРТОНА
                                            span.arrow-sublist
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>
                                        ul.main-catalog-filter__subsublist
                                            li.item__subsublist
                                                span упаковка для товаров народного потребления
                                            li.item__subsublist
                                                span упаковка для постельного белья
                                            li.item__subsublist
                                                span упаковка для вина
                                            li.item__subsublist
                                                span упаковка для кондитерских изделий
                                            li.item__subsublist
                                                span упаковка для замароженных полуфабрикатов
                                            li.item__subsublist
                                                span упаковка для детского творчества


                                    li.item
                                        .item__content
                                            .picture
                                                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M29.7597 19.8144L24.4282 3.44504C24.0282 2.21564 23.1733 1.21581 22.0211 0.629649C20.8689 0.043543 19.5573 -0.0586669 18.3283 0.34165L12.535 2.22839H4.36405C1.95774 2.22839 0 4.18613 0 6.59244V8.84236C0 9.0858 0.197308 9.28317 0.440813 9.28317C0.684319 9.28317 0.881627 9.0858 0.881627 8.84236V6.59244C0.881627 4.67226 2.44381 3.11002 4.36405 3.11002H16.4852C18.4055 3.11002 19.9677 4.67226 19.9677 6.59244V23.0659C19.9677 23.3094 20.165 23.5068 20.4085 23.5068C20.652 23.5068 20.8493 23.3094 20.8493 23.0659V21.0515L25.3897 19.4474C25.6193 19.3663 25.7396 19.1145 25.6585 18.885C25.5773 18.6554 25.3254 18.5351 25.096 18.6162L20.8493 20.1165V16.3858L24.4012 15.131C24.6308 15.0499 24.7511 14.798 24.67 14.5685C24.5889 14.3389 24.337 14.2187 24.1076 14.2997L20.8493 15.4507V11.8367L23.7423 10.8145C23.9718 10.7334 24.0921 10.4815 24.011 10.252C23.9299 10.0224 23.678 9.90225 23.4485 9.98324L20.8493 10.9016V6.59244C20.8493 4.18613 18.8916 2.22839 16.4852 2.22839H15.3819L18.6013 1.1799C19.6066 0.852524 20.6791 0.936102 21.6214 1.41541C22.5637 1.89472 23.2628 2.7124 23.5899 3.71787L28.9214 20.0873C29.2487 21.0925 29.1651 22.165 28.6857 23.1074C28.2062 24.0497 27.3887 24.7488 26.3833 25.076L20.61 26.9568C20.7643 26.5106 20.8493 26.0324 20.8493 25.5345V25.0643C20.8493 24.8208 20.652 24.6235 20.4085 24.6235C20.165 24.6235 19.9677 24.8208 19.9677 25.0643V25.5345C19.9677 27.4547 18.4055 29.0169 16.4852 29.0169H4.36405C2.44381 29.0169 0.881627 27.4547 0.881627 25.5345V10.8407C0.881627 10.5973 0.684319 10.3999 0.440813 10.3999C0.197308 10.3999 0 10.5973 0 10.8407V25.5345C0 27.9408 1.95774 29.8985 4.36405 29.8985H16.4852C17.9455 29.8985 19.2396 29.1769 20.0322 28.0723L26.6563 25.9143C27.8855 25.5143 28.8853 24.6594 29.4714 23.5072C30.0577 22.3549 30.16 21.0435 29.7597 19.8144Z" fill="#C1001F"/><path d="M10.4483 4.9826C9.12411 4.9826 8.04688 6.05984 8.04688 7.38398C8.04688 8.70807 9.12411 9.7853 10.4483 9.7853C11.7723 9.7853 12.8496 8.70807 12.8496 7.38398C12.8496 6.05984 11.7723 4.9826 10.4483 4.9826ZM10.4483 8.90367C9.61024 8.90367 8.9285 8.22194 8.9285 7.38398C8.9285 6.54602 9.61029 5.86423 10.4483 5.86423C11.2862 5.86423 11.9679 6.54602 11.9679 7.38398C11.9679 8.22194 11.2861 8.90367 10.4483 8.90367Z" fill="#C1001F"/><path d="M12.6994 12.8577C12.4958 12.7243 12.2225 12.7813 12.0891 12.985L7.84848 19.461C7.71506 19.6646 7.77207 19.9379 7.97578 20.0712C8.05025 20.12 8.13401 20.1434 8.21688 20.1434C8.36053 20.1434 8.50147 20.0732 8.58605 19.9439L12.8266 13.4679C12.96 13.2643 12.903 12.991 12.6994 12.8577Z" fill="#C1001F"/><path d="M6.61475 13.599C6.61475 14.4584 7.31394 15.1575 8.17329 15.1575C9.03264 15.1575 9.73183 14.4584 9.73183 13.599C9.73183 12.7397 9.03264 12.0405 8.17329 12.0405C7.31394 12.0405 6.61475 12.7397 6.61475 13.599ZM8.17329 12.9221C8.54657 12.9221 8.8502 13.2258 8.8502 13.599C8.8502 13.9722 8.54657 14.2759 8.17329 14.2759C7.80001 14.2759 7.49637 13.9722 7.49637 13.599C7.49637 13.2258 7.80001 12.9221 8.17329 12.9221Z" fill="#C1001F"/><path d="M11.165 19.3135C11.165 20.1728 11.8642 20.872 12.7236 20.872C13.5829 20.872 14.2821 20.1728 14.2821 19.3135C14.2821 18.4541 13.5829 17.755 12.7236 17.755C11.8642 17.755 11.165 18.4541 11.165 19.3135ZM13.4004 19.3135C13.4004 19.6867 13.0968 19.9904 12.7235 19.9904C12.3502 19.9904 12.0466 19.6867 12.0466 19.3135C12.0466 18.9403 12.3502 18.6366 12.7235 18.6366C13.0968 18.6366 13.4004 18.9402 13.4004 19.3135Z" fill="#C1001F"/><path d="M3.74707 23.8425C3.74707 24.086 3.94438 24.2834 4.18788 24.2834H16.709C16.9525 24.2834 17.1498 24.086 17.1498 23.8425C17.1498 23.5991 16.9525 23.4017 16.709 23.4017H4.18788C3.94438 23.4017 3.74707 23.5991 3.74707 23.8425Z" fill="#C1001F"/><path d="M4.18788 26.6512H16.709C16.9525 26.6512 17.1498 26.4538 17.1498 26.2104C17.1498 25.9669 16.9525 25.7696 16.709 25.7696H4.18788C3.94438 25.7696 3.74707 25.9669 3.74707 26.2104C3.74707 26.4538 3.94438 26.6512 4.18788 26.6512Z" fill="#C1001F"/></g><defs><clipPath id="clip0"><rect width="30" height="30" fill="white"/></clipPath></defs></svg>
                                            h3.item__title ЛИСТОВАЯ ПОЛИГРАФИЯ
                                            span.arrow
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>

                                    li.item
                                        .item__content
                                            .picture
                                                <svg width="32" height="27" viewBox="0 0 32 27" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M31.5312 16.9382C31.2724 16.9382 31.0625 17.1466 31.0625 17.4037V24.9827C31.0625 25.5816 30.5718 26.0689 29.9688 26.0689H3.74156C3.94431 25.7551 4.0625 25.3825 4.0625 24.9827V23.8952C4.0625 23.6381 3.85262 23.4297 3.59375 23.4297C3.33488 23.4297 3.125 23.6381 3.125 23.8952V24.9827C3.125 25.5816 2.63431 26.0689 2.03125 26.0689C1.42819 26.0689 0.9375 25.5816 0.9375 24.9827V2.32754C0.9375 1.72864 1.42819 1.24134 2.03125 1.24134H3.47475C3.73362 1.24134 3.9435 1.03297 3.9435 0.77582C3.9435 0.518668 3.73362 0.310303 3.47475 0.310303H2.03125C0.91125 0.310303 0 1.21521 0 2.32754V24.9827C0 26.0951 0.91125 27 2.03125 27H29.9688C31.0888 27 32 26.0951 32 24.9827V17.4037C32 17.1466 31.7901 16.9382 31.5312 16.9382Z" fill="#C1001F"/><path d="M29.9688 9.37236H28.875V8.21546C28.875 7.9583 28.6651 7.74994 28.4062 7.74994C28.1474 7.74994 27.9375 7.9583 27.9375 8.21546V9.37236H5.15625C4.03625 9.37236 3.125 10.2773 3.125 11.3896V21.7743C3.125 22.0315 3.33487 22.2398 3.59375 22.2398C3.85263 22.2398 4.0625 22.0315 4.0625 21.7743V11.3896C4.0625 10.7907 4.55319 10.3034 5.15625 10.3034H29.9688C30.5718 10.3034 31.0625 10.7907 31.0625 11.3896V15.2313C31.0625 15.4885 31.2724 15.6968 31.5312 15.6968C31.7901 15.6968 32 15.4885 32 15.2313V11.3896C32 10.2773 31.0888 9.37236 29.9688 9.37236Z" fill="#C1001F"/><path d="M5.66113 1.24134H12.6564C13.2595 1.24134 13.7502 1.72864 13.7502 2.32754V3.56892C13.7502 3.99676 14.1006 4.34478 14.5314 4.34478H26.8439C27.447 4.34478 27.9377 4.83209 27.9377 5.43099V6.04305C27.9377 6.3002 28.1476 6.50857 28.4064 6.50857C28.6653 6.50857 28.8752 6.3002 28.8752 6.04305V5.43099C28.8752 4.31865 27.9639 3.41375 26.8439 3.41375H14.6877V2.32754C14.6877 1.21521 13.7764 0.310303 12.6564 0.310303H5.66113C5.40226 0.310303 5.19238 0.518668 5.19238 0.77582C5.19238 1.03297 5.40226 1.24134 5.66113 1.24134Z" fill="#C1001F"/></g><defs><clipPath id="clip0"><rect width="32" height="27" fill="white"/></clipPath></defs></svg>
                                            h3.item__title ОФИСНАЯ ПОЛИГРАФИЯ
                                            span.arrow
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>

                                    li.item
                                        .item__content
                                            .picture
                                                <svg width="26" height="34" viewBox="0 0 26 34" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M23.8333 2.19355H22.75C22.75 1.61178 22.5217 1.05385 22.1154 0.642475C21.7091 0.231105 21.158 0 20.5833 0C20.0087 0 19.4576 0.231105 19.0513 0.642475C18.6449 1.05385 18.4167 1.61178 18.4167 2.19355H3.25C2.6756 2.19431 2.12493 2.42566 1.71877 2.83687C1.3126 3.24807 1.08409 3.80557 1.08333 4.3871V6.58065H0.541667C0.398008 6.58065 0.260233 6.63842 0.158651 6.74126C0.0570684 6.84411 0 6.98359 0 7.12903C0 7.27447 0.0570684 7.41396 0.158651 7.5168C0.260233 7.61964 0.398008 7.67742 0.541667 7.67742H1.08333V9.87097H0.541667C0.398008 9.87097 0.260233 9.92874 0.158651 10.0316C0.0570684 10.1344 0 10.2739 0 10.4194C0 10.5648 0.0570684 10.7043 0.158651 10.8071C0.260233 10.91 0.398008 10.9677 0.541667 10.9677H1.08333V13.1613H0.541667C0.398008 13.1613 0.260233 13.2191 0.158651 13.3219C0.0570684 13.4248 0 13.5642 0 13.7097C0 13.8551 0.0570684 13.9946 0.158651 14.0974C0.260233 14.2003 0.398008 14.2581 0.541667 14.2581H1.08333V16.4516H0.541667C0.398008 16.4516 0.260233 16.5094 0.158651 16.6122C0.0570684 16.7151 0 16.8546 0 17C0 17.1454 0.0570684 17.2849 0.158651 17.3878C0.260233 17.4906 0.398008 17.5484 0.541667 17.5484H1.08333V19.7419H0.541667C0.398008 19.7419 0.260233 19.7997 0.158651 19.9026C0.0570684 20.0054 0 20.1449 0 20.2903C0 20.4358 0.0570684 20.5752 0.158651 20.6781C0.260233 20.7809 0.398008 20.8387 0.541667 20.8387H1.08333V23.0323H0.541667C0.398008 23.0323 0.260233 23.09 0.158651 23.1929C0.0570684 23.2957 0 23.4352 0 23.5806C0 23.7261 0.0570684 23.8656 0.158651 23.9684C0.260233 24.0713 0.398008 24.129 0.541667 24.129H1.08333V26.3226H0.541667C0.398008 26.3226 0.260233 26.3804 0.158651 26.4832C0.0570684 26.586 0 26.7255 0 26.871C0 27.0164 0.0570684 27.1559 0.158651 27.2587C0.260233 27.3616 0.398008 27.4194 0.541667 27.4194H1.08333V29.6129H0.541667C0.398008 29.6129 0.260233 29.6707 0.158651 29.7735C0.0570684 29.8764 0 30.0159 0 30.1613C0 30.3067 0.0570684 30.4462 0.158651 30.5491C0.260233 30.6519 0.398008 30.7097 0.541667 30.7097H1.08333V31.8065C1.08409 32.388 1.3126 32.9455 1.71877 33.3567C2.12493 33.7679 2.6756 33.9992 3.25 34H23.8333C24.4077 33.9992 24.9584 33.7679 25.3646 33.3567C25.7707 32.9455 25.9992 32.388 26 31.8065V4.3871C25.9992 3.80557 25.7707 3.24807 25.3646 2.83687C24.9584 2.42566 24.4077 2.19431 23.8333 2.19355ZM19.5 2.19355C19.5 1.90267 19.6141 1.6237 19.8173 1.41801C20.0205 1.21233 20.296 1.09677 20.5833 1.09677C20.8707 1.09677 21.1462 1.21233 21.3494 1.41801C21.5525 1.6237 21.6667 1.90267 21.6667 2.19355V3.83871H19.5V2.19355ZM19.5 4.93548H21.6667V19.7419H19.5V4.93548ZM19.5 20.8387H21.6667V21.2575L20.5833 23.4511L19.5 21.2575V20.8387ZM4.33333 32.9032H3.25C2.9628 32.9028 2.68747 32.7872 2.48438 32.5816C2.2813 32.376 2.16704 32.0972 2.16667 31.8065V30.7097H2.70833C2.85199 30.7097 2.98977 30.6519 3.09135 30.5491C3.19293 30.4462 3.25 30.3067 3.25 30.1613C3.25 30.0159 3.19293 29.8764 3.09135 29.7735C2.98977 29.6707 2.85199 29.6129 2.70833 29.6129H2.16667V27.4194H2.70833C2.85199 27.4194 2.98977 27.3616 3.09135 27.2587C3.19293 27.1559 3.25 27.0164 3.25 26.871C3.25 26.7255 3.19293 26.586 3.09135 26.4832C2.98977 26.3804 2.85199 26.3226 2.70833 26.3226H2.16667V24.129H2.70833C2.85199 24.129 2.98977 24.0713 3.09135 23.9684C3.19293 23.8656 3.25 23.7261 3.25 23.5806C3.25 23.4352 3.19293 23.2957 3.09135 23.1929C2.98977 23.09 2.85199 23.0323 2.70833 23.0323H2.16667V20.8387H2.70833C2.85199 20.8387 2.98977 20.7809 3.09135 20.6781C3.19293 20.5752 3.25 20.4358 3.25 20.2903C3.25 20.1449 3.19293 20.0054 3.09135 19.9026C2.98977 19.7997 2.85199 19.7419 2.70833 19.7419H2.16667V17.5484H2.70833C2.85199 17.5484 2.98977 17.4906 3.09135 17.3878C3.19293 17.2849 3.25 17.1454 3.25 17C3.25 16.8546 3.19293 16.7151 3.09135 16.6122C2.98977 16.5094 2.85199 16.4516 2.70833 16.4516H2.16667V14.2581H2.70833C2.85199 14.2581 2.98977 14.2003 3.09135 14.0974C3.19293 13.9946 3.25 13.8551 3.25 13.7097C3.25 13.5642 3.19293 13.4248 3.09135 13.3219C2.98977 13.2191 2.85199 13.1613 2.70833 13.1613H2.16667V10.9677H2.70833C2.85199 10.9677 2.98977 10.91 3.09135 10.8071C3.19293 10.7043 3.25 10.5648 3.25 10.4194C3.25 10.2739 3.19293 10.1344 3.09135 10.0316C2.98977 9.92874 2.85199 9.87097 2.70833 9.87097H2.16667V7.67742H2.70833C2.85199 7.67742 2.98977 7.61964 3.09135 7.5168C3.19293 7.41396 3.25 7.27447 3.25 7.12903C3.25 6.98359 3.19293 6.84411 3.09135 6.74126C2.98977 6.63842 2.85199 6.58065 2.70833 6.58065H2.16667V4.3871C2.16704 4.09633 2.2813 3.81758 2.48438 3.61198C2.68747 3.40638 2.9628 3.2907 3.25 3.29032H4.33333V32.9032ZM24.9167 31.8065C24.9163 32.0972 24.802 32.376 24.599 32.5816C24.3959 32.7872 24.1205 32.9028 23.8333 32.9032H5.41667V3.29032H18.4167V6.58065H17.875V5.48387C17.875 5.33843 17.8179 5.19895 17.7164 5.0961C17.6148 4.99326 17.477 4.93548 17.3333 4.93548C17.1897 4.93548 17.0519 4.99326 16.9503 5.0961C16.8487 5.19895 16.7917 5.33843 16.7917 5.48387V12.0645C16.7917 12.21 16.8487 12.3494 16.9503 12.4523C17.0519 12.5551 17.1897 12.6129 17.3333 12.6129C17.477 12.6129 17.6148 12.5551 17.7164 12.4523C17.8179 12.3494 17.875 12.21 17.875 12.0645V7.67742H18.4167V21.3871C18.4167 21.4722 18.4362 21.5562 18.4735 21.6325L20.0985 24.9228C20.1436 25.0139 20.2129 25.0905 20.2985 25.144C20.3841 25.1975 20.4827 25.2258 20.5833 25.2258C20.684 25.2258 20.7826 25.1975 20.8682 25.144C20.9538 25.0905 21.023 25.0139 21.0681 24.9228L22.6931 21.6325C22.7305 21.5562 22.7499 21.4722 22.75 21.3871V3.29032H23.8333C24.1205 3.2907 24.3959 3.40638 24.599 3.61198C24.802 3.81758 24.9163 4.09633 24.9167 4.3871V31.8065Z" fill="#C1001F"/><path d="M21.125 30.7097H15.1667C15.023 30.7097 14.8852 30.7674 14.7837 30.8703C14.6821 30.9731 14.625 31.1126 14.625 31.258C14.625 31.4035 14.6821 31.543 14.7837 31.6458C14.8852 31.7487 15.023 31.8064 15.1667 31.8064H21.125C21.2687 31.8064 21.4064 31.7487 21.508 31.6458C21.6096 31.543 21.6667 31.4035 21.6667 31.258C21.6667 31.1126 21.6096 30.9731 21.508 30.8703C21.4064 30.7674 21.2687 30.7097 21.125 30.7097Z" fill="#C1001F"/><path d="M23.2913 30.7097H22.7497C22.606 30.7097 22.4682 30.7674 22.3667 30.8703C22.2651 30.9731 22.208 31.1126 22.208 31.258C22.208 31.4035 22.2651 31.543 22.3667 31.6458C22.4682 31.7487 22.606 31.8064 22.7497 31.8064H23.2913C23.435 31.8064 23.5728 31.7487 23.6744 31.6458C23.7759 31.543 23.833 31.4035 23.833 31.258C23.833 31.1126 23.7759 30.9731 23.6744 30.8703C23.5728 30.7674 23.435 30.7097 23.2913 30.7097Z" fill="#C1001F"/><path d="M12.4583 4.38708H7.04167C6.89801 4.38708 6.76023 4.44486 6.65865 4.5477C6.55707 4.65055 6.5 4.79003 6.5 4.93547C6.5 5.08091 6.55707 5.2204 6.65865 5.32324C6.76023 5.42608 6.89801 5.48386 7.04167 5.48386H12.4583C12.602 5.48386 12.7398 5.42608 12.8414 5.32324C12.9429 5.2204 13 5.08091 13 4.93547C13 4.79003 12.9429 4.65055 12.8414 4.5477C12.7398 4.44486 12.602 4.38708 12.4583 4.38708Z" fill="#C1001F"/><path d="M8.66667 6.03223H7.04167C6.89801 6.03223 6.76023 6.09 6.65865 6.19285C6.55707 6.29569 6.5 6.43517 6.5 6.58061C6.5 6.72605 6.55707 6.86554 6.65865 6.96838C6.76023 7.07122 6.89801 7.129 7.04167 7.129H8.66667C8.81033 7.129 8.9481 7.07122 9.04968 6.96838C9.15127 6.86554 9.20833 6.72605 9.20833 6.58061C9.20833 6.43517 9.15127 6.29569 9.04968 6.19285C8.9481 6.09 8.81033 6.03223 8.66667 6.03223Z" fill="#C1001F"/></svg>
                                            h3.item__title РЕКЛАМНАЯ ПОЛИГРАФИЯ
                                            span.arrow
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>

                                    li.item
                                        .item__content
                                            .picture
                                                <svg width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M3.71875 10.0937V16.4687H11.1562V10.0937H3.71875ZM10.0938 15.4062H4.78125V11.1562H10.0938V15.4062Z" fill="#C1001F"/><path d="M3.71875 18.5937H5.84375V19.6562H3.71875V18.5937Z" fill="#C1001F"/><path d="M6.90625 18.5937H11.1562V19.6562H6.90625V18.5937Z" fill="#C1001F"/><path d="M3.71875 29.2187H5.84375V30.2812H3.71875V29.2187Z" fill="#C1001F"/><path d="M6.90625 29.2187H11.1562V30.2812H6.90625V29.2187Z" fill="#C1001F"/><path d="M3.71875 20.7187H11.1562V21.7812H3.71875V20.7187Z" fill="#C1001F"/><path d="M3.71875 22.8437H11.1562V23.9062H3.71875V22.8437Z" fill="#C1001F"/><path d="M3.71875 24.9687H11.1562V26.0312H3.71875V24.9687Z" fill="#C1001F"/><path d="M3.71875 27.0937H11.1562V28.1562H3.71875V27.0937Z" fill="#C1001F"/><path d="M30.2812 3.71869H22.8438V10.0937H30.2812V3.71869ZM29.2188 9.03119H23.9062V4.78119H29.2188V9.03119Z" fill="#C1001F"/><path d="M22.8438 12.2187H24.9688V13.2812H22.8438V12.2187Z" fill="#C1001F"/><path d="M26.0312 12.2187H30.2812V13.2812H26.0312V12.2187Z" fill="#C1001F"/><path d="M22.8438 22.8437H24.9688V23.9062H22.8438V22.8437Z" fill="#C1001F"/><path d="M26.0312 22.8437H30.2812V23.9062H26.0312V22.8437Z" fill="#C1001F"/><path d="M22.8438 14.3437H30.2812V15.4062H22.8438V14.3437Z" fill="#C1001F"/><path d="M22.8438 16.4687H30.2812V17.5312H22.8438V16.4687Z" fill="#C1001F"/><path d="M22.8438 18.5937H30.2812V19.6562H22.8438V18.5937Z" fill="#C1001F"/><path d="M22.8438 20.7187H30.2812V21.7812H22.8438V20.7187Z" fill="#C1001F"/><path d="M19.9676 0.531189L13.5926 6.90619H0.53125V33.4687H14.0324L20.4074 27.0937H33.4688V0.531189H19.9676ZM19.6562 22.0925L14.3438 27.405V24.6574L19.6562 19.3449V22.0925ZM19.6562 17.8425L14.3438 23.155V20.4074L19.6562 15.0949V17.8425ZM19.6562 13.5925L14.3438 18.905V16.1574L19.6562 10.8449V13.5925ZM19.6562 9.3425L14.3438 14.655V11.9074L19.6562 6.59488V9.3425ZM19.6562 5.0925L14.3438 10.405V7.65738L19.6562 2.34488V5.0925ZM14.3438 28.9074L19.6562 23.5949V26.3425L14.3438 31.655V28.9074ZM1.59375 7.96869H13.2812V32.4062H1.59375V7.96869ZM32.4062 26.0312H20.7188V1.59369H32.4062V26.0312Z" fill="#C1001F"/></g><defs><clipPath id="clip0"><rect width="34" height="34" fill="white"/></clipPath></defs></svg>
                                            h3.item__title БУМАЖНЫЕ ИНСТРУКЦИЯ
                                            span.arrow
                                                <svg width="18" height="10" viewBox="0 0 18 10" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M17 0.999939L9 8.99994L1 0.999939" stroke="#006AAE"/></svg>

                        //- main-catalog-content
                        .main-catalog-content
                            h2.title ОФИСНАЯ ПОЛИГРАФИЯ
                            ul.main-catalog__table
                                li.item
                                    .row.row__title
                                        span ТЕХНОЛОГИЯ ПЕЧАТИ
                                    .row
                                        span Листовая офсетная печать  
                                li.item
                                    .row.row__title
                                        span ВИДЫ МАТЕРИАЛОВ
                                    .row
                                        span Офсетная бумага, мелованная бумага, самокопирующаяся бумага
                                li.item
                                    .row.row__title
                                        span КРАСОЧНОСТЬ
                                    .row
                                        span До 4 красок
                                li.item
                                    .row.row__title
                                        span ДЕКОРИРОВАНИЕ
                                    .row
                                        span Горячее тиснение различными видами фольги, УФ лакирование (матовое, глянцевое, комбинированное)
                                li.item
                                    .row.row__title
                                        span ПОСЛЕПЕЧАТНЫЕ ПРОЦЕССЫ
                                    .row
                                        span Склейка в стопу, нумерация

                            //- main-catalog-content-wrapper
                            ul.main-catalog-content-wrapper
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item1.png")
                                        picture
                                            img(src="images/catalog/item1.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item2.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item3.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item4.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item4.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item3.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item2.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item1.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item1.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item2.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item3.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item4.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item4.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item3.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item2.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item1.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item4.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item3.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item2.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА
                                li.item
                                    span.item__glass
                                    a(data-fancybox="gallery" href="images/catalog/item2.png")    
                                        picture
                                            img(src="images/catalog/item1.png" alt="")
                                    h3.item__title КАРТОННЫЙ КАРМАН
                                    span.item__subtitle ПОЛИГРАФИЧЕСКАЯ УПАКОВКА






        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug