doctype html
html(lang="ru")
    head
        include modules/head.pug
    body
        .content

            include modules/header.pug

            main
                include modules/modal.pug
                //-services
                section.services
                    .container
                        h2.inner-title УСЛУГИ
                        //- services-wrapper
                        .services-wrapper
                            .services__row
                                h2.subtitle(hidden) КОНСТРУКТОРСКОЕ БЮРО
                                .services__content
                                    h2.subtitle КОНСТРУКТОРСКОЕ БЮРО
                                    p.services__text Конструкторское бюро нашей компании  разработает упаковку, которая подойдет именно Вам. Мы поможем выделить Ваш товар и продемонстрировать его преимущества:
                                    ul.list
                                        li.item
                                            p спроектируем конструкцию и изготовим образцы упаковки из любого типа картона, бумаги или микрогофрокартона
                                        li.item
                                            p учтём все характеристики Вашего продукта; подберём оптимальный материал
                                        li.item
                                            p разработаем интересную форму, которая привлечет внимание к продукту
                                        li.item
                                            p оптимизируем существующую конструкцию с целью исключения брака и снижения стоимости производства
                                        li.item
                                            p изготовим пробные партии упаковки с печатью
                                        li.item
                                            p продумаем всю логистику Вашего продукта вместе с Вами

                                    a.services__download(href="") 
                                        .picture
                                            <svg width="100%" height="100%" viewBox="0 0 23 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M22.0655 5.28305C22.0632 5.28076 22.0611 5.27847 22.0589 5.27596C22.0559 5.27275 22.0528 5.26932 22.0495 5.26611L21.8503 5.05463L17.9046 0.862656C17.4657 0.396423 16.8834 0.103226 16.246 0.0226593C16.2453 0.0226593 16.2446 0.0226593 16.2439 0.0224304C16.2355 0.0215149 16.227 0.0203705 16.2183 0.0194549C16.1101 0.00663756 16.0007 0 15.8907 0H4.96363C3.73689 0 2.73876 0.971146 2.73876 2.16499V3.21808H1.9784C0.887598 3.21808 0 4.08188 0 5.14389V27.0568C0 28.6798 1.35656 30 3.02428 30H16.8462C17.937 30 18.8246 29.1362 18.8246 28.0746V27.1571H20.5422C21.769 27.1571 22.7671 26.1857 22.7671 24.9921V7.06169C22.7671 6.40251 22.518 5.77171 22.0655 5.28305ZM21.1257 6.01936H17.0224C16.7844 6.01936 16.5908 5.83099 16.5908 5.59937V1.33781C16.7493 1.41747 16.894 1.52412 17.0165 1.65436L20.8395 5.71541L21.1257 6.01936ZM20.5424 25.9852H4.96363C4.40083 25.9852 3.94292 25.5396 3.94292 24.9921V22.2656C3.94292 21.942 3.67339 21.6797 3.34084 21.6797C3.00852 21.6797 2.73876 21.942 2.73876 22.2656V24.9921C2.73876 26.1859 3.73689 27.1571 4.96363 27.1571H17.6205V28.0746C17.6205 28.4901 17.2731 28.8281 16.8462 28.8281H3.02428C2.02073 28.8281 1.20416 28.0334 1.20416 27.0568V5.14389C1.20416 4.72801 1.55153 4.38995 1.9784 4.38995H2.73876V17.5781C2.73876 17.9018 3.00852 18.1641 3.34084 18.1641C3.67339 18.1641 3.94292 17.9018 3.94292 17.5781V2.16499C3.94292 1.61751 4.40083 1.17188 4.96363 1.17188H15.3867V5.59937C15.3867 6.47713 16.1205 7.19124 17.0224 7.19124H21.5629V24.9921C21.5629 25.5396 21.105 25.9852 20.5424 25.9852Z" fill="#C1001F"/><path d="M7.16849 8.34894H13.6056C13.9379 8.34894 14.2076 8.08664 14.2076 7.763C14.2076 7.43936 13.9379 7.17706 13.6056 7.17706H7.16849C6.83593 7.17706 6.56641 7.43936 6.56641 7.763C6.56641 8.08664 6.83593 8.34894 7.16849 8.34894Z" fill="#C1001F"/><path d="M16.6077 12.0236H7.16849C6.83593 12.0236 6.56641 12.2859 6.56641 12.6096C6.56641 12.9332 6.83593 13.1955 7.16849 13.1955H16.6077C16.9403 13.1955 17.2098 12.9332 17.2098 12.6096C17.2098 12.2859 16.9403 12.0236 16.6077 12.0236Z" fill="#C1001F"/><path d="M16.6077 16.8702H7.16849C6.83593 16.8702 6.56641 17.1325 6.56641 17.4561C6.56641 17.7798 6.83593 18.0421 7.16849 18.0421H16.6077C16.9403 18.0421 17.2098 17.7798 17.2098 17.4561C17.2098 17.1325 16.9403 16.8702 16.6077 16.8702Z" fill="#C1001F"/><path d="M16.6077 21.7166H7.16849C6.83593 21.7166 6.56641 21.9789 6.56641 22.3025C6.56641 22.6261 6.83593 22.8884 7.16849 22.8884H16.6077C16.9403 22.8884 17.2098 22.6261 17.2098 22.3025C17.2098 21.9789 16.9403 21.7166 16.6077 21.7166Z" fill="#C1001F"/><path d="M3.34036 19.3366C3.00781 19.3366 2.73828 19.5998 2.73828 19.9232C2.73828 20.2469 3.00781 20.5092 3.34036 20.5092C3.67268 20.5092 3.94244 20.2469 3.94244 19.9232V19.9219C3.94244 19.5982 3.67268 19.3366 3.34036 19.3366Z" fill="#C1001F"/></g><defs><clipPath id="clip0"><rect width="22.7586" height="30" fill="white"/></clipPath></defs></svg>
                                        span Образец технического задания на разработку конструкции

                                .services__picture
                                    img(src="images/services/item1.jpg" alt="")

                            .services__row
                                h2.subtitle(hidden) КОНСТРУКТОРСКОЕ БЮРО
                                .services__picture
                                    img(src="images/services/item2.jpg", alt="")
                                .services__content.services__content--right
                                    h2.subtitle ДИЗАЙН-СТУДИЯ
                                    p.services__text В нашей компании работает своя профессиональная дизайн-студия полного цикла. Опытные, высококвалифицированные специалисты разработают дизайн как с нуля, так и отредактируют и дополнят уже имеющийся. Вам не придется иметь дело со сторонними подрядчиками; поручите работу нам —  и мы проведем полный цикл работ над Вашим проектом в кратчайшие сроки:
                                    ul.list
                                        li.item
                                            p выполним качественный, привлекающий внимание и узнаваемый дизайн, который выделит Ваш продукт на магазинной полке и поможет повысить продажи
                                        li.item
                                            p разработаем корпоративный (фирменный) стиль или логотип Вашей компании
                                        li.item
                                            p подготовим макеты с учетом всех особенностей офсетной печати
                                        li.item
                                            p гарантируем правильную цветопередачу и высокое качество готовой продукции

                                    a.services__download(href="") 
                                        .picture
                                            <svg width="100%" height="100%" viewBox="0 0 23 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M22.0655 5.28305C22.0632 5.28076 22.0611 5.27847 22.0589 5.27596C22.0559 5.27275 22.0528 5.26932 22.0495 5.26611L21.8503 5.05463L17.9046 0.862656C17.4657 0.396423 16.8834 0.103226 16.246 0.0226593C16.2453 0.0226593 16.2446 0.0226593 16.2439 0.0224304C16.2355 0.0215149 16.227 0.0203705 16.2183 0.0194549C16.1101 0.00663756 16.0007 0 15.8907 0H4.96363C3.73689 0 2.73876 0.971146 2.73876 2.16499V3.21808H1.9784C0.887598 3.21808 0 4.08188 0 5.14389V27.0568C0 28.6798 1.35656 30 3.02428 30H16.8462C17.937 30 18.8246 29.1362 18.8246 28.0746V27.1571H20.5422C21.769 27.1571 22.7671 26.1857 22.7671 24.9921V7.06169C22.7671 6.40251 22.518 5.77171 22.0655 5.28305ZM21.1257 6.01936H17.0224C16.7844 6.01936 16.5908 5.83099 16.5908 5.59937V1.33781C16.7493 1.41747 16.894 1.52412 17.0165 1.65436L20.8395 5.71541L21.1257 6.01936ZM20.5424 25.9852H4.96363C4.40083 25.9852 3.94292 25.5396 3.94292 24.9921V22.2656C3.94292 21.942 3.67339 21.6797 3.34084 21.6797C3.00852 21.6797 2.73876 21.942 2.73876 22.2656V24.9921C2.73876 26.1859 3.73689 27.1571 4.96363 27.1571H17.6205V28.0746C17.6205 28.4901 17.2731 28.8281 16.8462 28.8281H3.02428C2.02073 28.8281 1.20416 28.0334 1.20416 27.0568V5.14389C1.20416 4.72801 1.55153 4.38995 1.9784 4.38995H2.73876V17.5781C2.73876 17.9018 3.00852 18.1641 3.34084 18.1641C3.67339 18.1641 3.94292 17.9018 3.94292 17.5781V2.16499C3.94292 1.61751 4.40083 1.17188 4.96363 1.17188H15.3867V5.59937C15.3867 6.47713 16.1205 7.19124 17.0224 7.19124H21.5629V24.9921C21.5629 25.5396 21.105 25.9852 20.5424 25.9852Z" fill="#C1001F"/><path d="M7.16849 8.34894H13.6056C13.9379 8.34894 14.2076 8.08664 14.2076 7.763C14.2076 7.43936 13.9379 7.17706 13.6056 7.17706H7.16849C6.83593 7.17706 6.56641 7.43936 6.56641 7.763C6.56641 8.08664 6.83593 8.34894 7.16849 8.34894Z" fill="#C1001F"/><path d="M16.6077 12.0236H7.16849C6.83593 12.0236 6.56641 12.2859 6.56641 12.6096C6.56641 12.9332 6.83593 13.1955 7.16849 13.1955H16.6077C16.9403 13.1955 17.2098 12.9332 17.2098 12.6096C17.2098 12.2859 16.9403 12.0236 16.6077 12.0236Z" fill="#C1001F"/><path d="M16.6077 16.8702H7.16849C6.83593 16.8702 6.56641 17.1325 6.56641 17.4561C6.56641 17.7798 6.83593 18.0421 7.16849 18.0421H16.6077C16.9403 18.0421 17.2098 17.7798 17.2098 17.4561C17.2098 17.1325 16.9403 16.8702 16.6077 16.8702Z" fill="#C1001F"/><path d="M16.6077 21.7166H7.16849C6.83593 21.7166 6.56641 21.9789 6.56641 22.3025C6.56641 22.6261 6.83593 22.8884 7.16849 22.8884H16.6077C16.9403 22.8884 17.2098 22.6261 17.2098 22.3025C17.2098 21.9789 16.9403 21.7166 16.6077 21.7166Z" fill="#C1001F"/><path d="M3.34036 19.3366C3.00781 19.3366 2.73828 19.5998 2.73828 19.9232C2.73828 20.2469 3.00781 20.5092 3.34036 20.5092C3.67268 20.5092 3.94244 20.2469 3.94244 19.9232V19.9219C3.94244 19.5982 3.67268 19.3366 3.34036 19.3366Z" fill="#C1001F"/></g><defs><clipPath id="clip0"><rect width="22.7586" height="30" fill="white"/></clipPath></defs></svg>
                                        span Образец технического задания на дизайн
                                    a.services__download(href="") 
                                        .picture
                                            <svg width="100%" height="100%" viewBox="0 0 23 30" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><path d="M22.0655 5.28305C22.0632 5.28076 22.0611 5.27847 22.0589 5.27596C22.0559 5.27275 22.0528 5.26932 22.0495 5.26611L21.8503 5.05463L17.9046 0.862656C17.4657 0.396423 16.8834 0.103226 16.246 0.0226593C16.2453 0.0226593 16.2446 0.0226593 16.2439 0.0224304C16.2355 0.0215149 16.227 0.0203705 16.2183 0.0194549C16.1101 0.00663756 16.0007 0 15.8907 0H4.96363C3.73689 0 2.73876 0.971146 2.73876 2.16499V3.21808H1.9784C0.887598 3.21808 0 4.08188 0 5.14389V27.0568C0 28.6798 1.35656 30 3.02428 30H16.8462C17.937 30 18.8246 29.1362 18.8246 28.0746V27.1571H20.5422C21.769 27.1571 22.7671 26.1857 22.7671 24.9921V7.06169C22.7671 6.40251 22.518 5.77171 22.0655 5.28305ZM21.1257 6.01936H17.0224C16.7844 6.01936 16.5908 5.83099 16.5908 5.59937V1.33781C16.7493 1.41747 16.894 1.52412 17.0165 1.65436L20.8395 5.71541L21.1257 6.01936ZM20.5424 25.9852H4.96363C4.40083 25.9852 3.94292 25.5396 3.94292 24.9921V22.2656C3.94292 21.942 3.67339 21.6797 3.34084 21.6797C3.00852 21.6797 2.73876 21.942 2.73876 22.2656V24.9921C2.73876 26.1859 3.73689 27.1571 4.96363 27.1571H17.6205V28.0746C17.6205 28.4901 17.2731 28.8281 16.8462 28.8281H3.02428C2.02073 28.8281 1.20416 28.0334 1.20416 27.0568V5.14389C1.20416 4.72801 1.55153 4.38995 1.9784 4.38995H2.73876V17.5781C2.73876 17.9018 3.00852 18.1641 3.34084 18.1641C3.67339 18.1641 3.94292 17.9018 3.94292 17.5781V2.16499C3.94292 1.61751 4.40083 1.17188 4.96363 1.17188H15.3867V5.59937C15.3867 6.47713 16.1205 7.19124 17.0224 7.19124H21.5629V24.9921C21.5629 25.5396 21.105 25.9852 20.5424 25.9852Z" fill="#C1001F"/><path d="M7.16849 8.34894H13.6056C13.9379 8.34894 14.2076 8.08664 14.2076 7.763C14.2076 7.43936 13.9379 7.17706 13.6056 7.17706H7.16849C6.83593 7.17706 6.56641 7.43936 6.56641 7.763C6.56641 8.08664 6.83593 8.34894 7.16849 8.34894Z" fill="#C1001F"/><path d="M16.6077 12.0236H7.16849C6.83593 12.0236 6.56641 12.2859 6.56641 12.6096C6.56641 12.9332 6.83593 13.1955 7.16849 13.1955H16.6077C16.9403 13.1955 17.2098 12.9332 17.2098 12.6096C17.2098 12.2859 16.9403 12.0236 16.6077 12.0236Z" fill="#C1001F"/><path d="M16.6077 16.8702H7.16849C6.83593 16.8702 6.56641 17.1325 6.56641 17.4561C6.56641 17.7798 6.83593 18.0421 7.16849 18.0421H16.6077C16.9403 18.0421 17.2098 17.7798 17.2098 17.4561C17.2098 17.1325 16.9403 16.8702 16.6077 16.8702Z" fill="#C1001F"/><path d="M16.6077 21.7166H7.16849C6.83593 21.7166 6.56641 21.9789 6.56641 22.3025C6.56641 22.6261 6.83593 22.8884 7.16849 22.8884H16.6077C16.9403 22.8884 17.2098 22.6261 17.2098 22.3025C17.2098 21.9789 16.9403 21.7166 16.6077 21.7166Z" fill="#C1001F"/><path d="M3.34036 19.3366C3.00781 19.3366 2.73828 19.5998 2.73828 19.9232C2.73828 20.2469 3.00781 20.5092 3.34036 20.5092C3.67268 20.5092 3.94244 20.2469 3.94244 19.9232V19.9219C3.94244 19.5982 3.67268 19.3366 3.34036 19.3366Z" fill="#C1001F"/></g><defs><clipPath id="clip0"><rect width="22.7586" height="30" fill="white"/></clipPath></defs></svg>
                                        span Требования к дизайну, предоставляемому заказчиком

        include modules/footer.pug
        //- include modules/menu-mobile.pug
        include modules/script.pug