$color-text: #45494e;
$color-blue: #006aae;
$color-red: #c1001f;
$color-underline: #989898;
$color-grey: #8c8c8c;
$color-light-grey: #e5e5e5;

$font-main: "Roboto Condensed", sans-serif;
$font-title: "Oswald", sans-serif;
